.content-container .course-container {
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  height: 100dvh;
  margin-top: 0px;
}

.content-container .course-container .page-loading {
  margin-left: 20px;
  margin-top: 20px;
}
