.course-container > .lesson-container {
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  flex: 1;
  overflow: auto;
}

.course-container > .lesson-container .lesson-name {
  text-align: right;
  color: grey;
}

.course-container > .lesson-container .lesson {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin: auto;
}

.course-container > .lesson-container .save-text-section {
  padding-top: 15px;
  text-align: left;
}
