.container {
  padding: 20px;
}
.container button {
  border: 1px solid grey;
  margin-right: 10px;
}
/* .container button:active {
  background-color: white;
} */

.editor {
  max-width: 80%;
}

.tags {
  gap: 10px;
}

.answer {
  text-align: left;
}
