.course-container .lesson .lesson-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.course-container .lesson .menu-el,
.course-container .lesson .menu-active-el {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  min-width: 35px;
  border-radius: 5px;
  background-color: rgb(217, 217, 217);

  cursor: pointer;
  border: 1px solid grey;
}

.course-container .lesson-menu > .ok {
  background-color: rgb(138, 255, 140);
}
.course-container .lesson-menu > .wa {
  background-color: rgb(255, 105, 105);
}

.course-container .lesson .menu-active-el {
  background-color: rgb(155, 178, 255);
}
