.section-content {
  box-sizing: border-box;

  border-radius: 5px;
  border: 1px solid grey;
  text-align: left;
  background-color: white;

  width: 100%;
}

.section-content .h-content {
  margin: 15px 15px 15px 15px;
}
.section-content .h-content p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.section-content .h-content p:first-child {
  margin-top: 0px;
}
.section-content .h-content p:last-child {
  margin-bottom: 0px;
}
